USE [master]
GO
/****** Object:  Database [TN_CSDLPT]    Script Date: 5/11/2022 4:57:25 PM ******/
CREATE DATABASE [TN_CSDLPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TN_CSDLPT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TN_CSDLPT.mdf' , SIZE = 37888KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TN_CSDLPT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TN_CSDLPT_log.ldf' , SIZE = 63424KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TN_CSDLPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TN_CSDLPT]
GO
/****** Object:  User [HTKN]    Script Date: 5/11/2022 4:57:25 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DANGNHAP]    Script Date: 5/11/2022 4:57:25 PM ******/
CREATE USER [DANGNHAP] FOR LOGIN [DANGNHAP] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 5/11/2022 4:57:25 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_727A41474B5845A8BEBC5133EE2EF820]    Script Date: 5/11/2022 4:57:25 PM ******/
CREATE ROLE [MSmerge_727A41474B5845A8BEBC5133EE2EF820]
GO
/****** Object:  DatabaseRole [MSmerge_6F515AD43E0E489581E2330BFA6C3A8B]    Script Date: 5/11/2022 4:57:25 PM ******/
CREATE ROLE [MSmerge_6F515AD43E0E489581E2330BFA6C3A8B]
GO
/****** Object:  DatabaseRole [MSmerge_4DFA4382BA9540DF9A31255DA59D7D85]    Script Date: 5/11/2022 4:57:25 PM ******/
CREATE ROLE [MSmerge_4DFA4382BA9540DF9A31255DA59D7D85]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DANGNHAP]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_727A41474B5845A8BEBC5133EE2EF820]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_6F515AD43E0E489581E2330BFA6C3A8B]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_4DFA4382BA9540DF9A31255DA59D7D85]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedTableType [dbo].[BAITHI_TYPE]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE TYPE [dbo].[BAITHI_TYPE] AS TABLE(
	[CAUSO] [int] NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DAPAN] [nchar](1) NOT NULL,
	[DACHON] [nchar](1) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BODE_TYPE]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE TYPE [dbo].[BODE_TYPE] AS TABLE(
	[CAUHOI] [int] NOT NULL,
	[MAMH] [nchar](5) NOT NULL,
	[TRINHDO] [nchar](1) NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[A] [nvarchar](100) NOT NULL,
	[B] [nvarchar](100) NOT NULL,
	[C] [nvarchar](100) NOT NULL,
	[D] [nvarchar](100) NOT NULL,
	[DAP_AN] [nchar](1) NOT NULL,
	[MAGV] [nchar](8) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[LOP_TYPE]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE TYPE [dbo].[LOP_TYPE] AS TABLE(
	[MALOP] [nchar](8) NOT NULL,
	[TENLOP] [nvarchar](40) NOT NULL,
	[MAKH] [nchar](8) NOT NULL
)
GO
/****** Object:  Table [dbo].[BAITHI]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAITHI](
	[CAUHOI] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CAUSO] [int] NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DAPAN] [nchar](1) NOT NULL,
	[DACHON] [nchar](1) NULL,
	[MABT] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BAITHI] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [nchar](8) NOT NULL,
	[MAMH] [nchar](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[NGAYTHI] [datetime] NOT NULL,
	[DIEM] [float] NULL,
	[MABT] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_BANGDIEM] UNIQUE NONCLUSTERED 
(
	[MABT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BODE]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODE](
	[CAUHOI] [int] NOT NULL,
	[MAMH] [nchar](5) NOT NULL,
	[TRINHDO] [nchar](1) NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[A] [nvarchar](100) NOT NULL,
	[B] [nvarchar](100) NOT NULL,
	[C] [nvarchar](100) NOT NULL,
	[D] [nvarchar](100) NOT NULL,
	[DAP_AN] [nchar](1) NOT NULL,
	[MAGV] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BODE] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COSO]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[MACS] [nchar](3) NOT NULL,
	[TENCS] [nvarchar](40) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_COSO] PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_COSO] UNIQUE NONCLUSTERED 
(
	[TENCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [nchar](8) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[HOCVI] [nvarchar](40) NULL,
	[MAKH] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN_DANGKY]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN_DANGKY](
	[MAGV] [nchar](8) NULL,
	[MAMH] [nchar](5) NOT NULL,
	[MALOP] [nchar](8) NOT NULL,
	[TRINHDO] [nchar](1) NOT NULL,
	[NGAYTHI] [datetime] NOT NULL,
	[LAN] [smallint] NOT NULL,
	[SOCAUTHI] [smallint] NOT NULL,
	[THOIGIAN] [smallint] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIAOVIEN_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MALOP] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](8) NOT NULL,
	[TENKH] [nvarchar](40) NOT NULL,
	[MACS] [nchar](3) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_KHOA] UNIQUE NONCLUSTERED 
(
	[TENKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](8) NOT NULL,
	[TENLOP] [nvarchar](40) NOT NULL,
	[MAKH] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](5) NOT NULL,
	[TENMH] [nvarchar](40) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TENMH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UN_TENMH] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](8) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](40) NULL,
	[MALOP] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[MATKHAU] [nvarchar](40) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DS_COSO]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_DS_COSO]
AS
   SELECT MACS,TENCS = PUBS.description, TENSERVER = SUBS.subscriber_server
   FROM sysmergepublications AS PUBS, sysmergesubscriptions AS SUBS, dbo.COSO
   WHERE PUBS.pubid = SUBS.pubid 
   AND subscriber_server != publisher
   AND COSO.TENCS = PUBS.description
GO
/****** Object:  Index [MSmerge_index_1330103779]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1330103779] ON [dbo].[BAITHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_914102297]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_914102297] ON [dbo].[BANGDIEM]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_818101955]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_818101955] ON [dbo].[BODE]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1061578820]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1061578820] ON [dbo].[COSO]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_50099219]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_50099219] ON [dbo].[GIAOVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NGAYTHI]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGAYTHI] ON [dbo].[GIAOVIEN_DANGKY]
(
	[NGAYTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_674101442]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_674101442] ON [dbo].[GIAOVIEN_DANGKY]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1253579504]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1253579504] ON [dbo].[KHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1333579789]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1333579789] ON [dbo].[LOP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MONHOC]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MONHOC] ON [dbo].[MONHOC]
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1605580758]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1605580758] ON [dbo].[MONHOC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1989582126]    Script Date: 5/11/2022 4:57:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1989582126] ON [dbo].[SINHVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAITHI] ADD  CONSTRAINT [MSmerge_df_rowguid_E4253D4C2BB04830A8605705947E6BD3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BANGDIEM] ADD  CONSTRAINT [MSmerge_df_rowguid_BE361B14BDAD4F3E8F2E321E56034DD1]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BODE] ADD  CONSTRAINT [MSmerge_df_rowguid_3D72FE1D24D34B0E935E7E5CA73ACD68]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[COSO] ADD  CONSTRAINT [MSmerge_df_rowguid_3FF8FE2168E145D3A24F0AC94370013D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIAOVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_46160BA7EC3E46DABB6BD870EB775618]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] ADD  CONSTRAINT [CK_NGAYTHI]  DEFAULT (getdate()) FOR [NGAYTHI]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_C0FEAB056D5B40FFB31598B0E2FACF7D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_1D665C33B6114C5A871147FA76E9A097]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_CB94C5875396434094C33813F3C19A35]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_F6AF3EC8F8BC420D9DB8BA8C04D3DADC]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_E309FF7D922849D69D1F9C4F9DF69CDB]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_BAITHI_BANGDIEM] FOREIGN KEY([MABT])
REFERENCES [dbo].[BANGDIEM] ([MABT])
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [FK_BAITHI_BANGDIEM]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_MONHOC]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN1] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN1]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [FK_BODE_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_GIAOVIEN]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [FK_BODE_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_MONHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_KHOA]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_KHOA_COSO1] FOREIGN KEY([MACS])
REFERENCES [dbo].[COSO] ([MACS])
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_KHOA_COSO1]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[BAITHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_098C5221_AA91_4BFF_B8EB_291F2B76E9CD] CHECK NOT FOR REPLICATION (([CAUHOI]>=(1) AND [CAUHOI]<=(1001) OR [CAUHOI]>(1001) AND [CAUHOI]<=(2001)))
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [repl_identity_range_098C5221_AA91_4BFF_B8EB_291F2B76E9CD]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_DIEM]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_LANTHI] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_LANTHI]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_4859D20C_51A5_432B_9311_96E1D5043D3F] CHECK NOT FOR REPLICATION (([MABT]>(2) AND [MABT]<=(1002) OR [MABT]>(1002) AND [MABT]<=(2002)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [repl_identity_range_4859D20C_51A5_432B_9311_96E1D5043D3F]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_BODE] CHECK  (([TRINHDO]='A' OR [TRINHDO]='B' OR [TRINHDO]='C'))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_BODE]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_DAPAN] CHECK  (([DAP_AN]='D' OR ([DAP_AN]='C' OR ([DAP_AN]='B' OR [DAP_AN]='A'))))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_DAPAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_LAN] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_LAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_SOCAUTHI] CHECK  (([SOCAUTHI]>=(10) AND [SOCAUTHI]<=(100)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_SOCAUTHI]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_THOIGIAN] CHECK  (([THOIGIAN]>=(15) AND [THOIGIAN]<=(60)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_THOIGIAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TRINHDO] CHECK  (([TRINHDO]='C' OR ([TRINHDO]='B' OR [TRINHDO]='A')))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_TRINHDO]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [ck_Chu_Blank_Only] CHECK  ((NOT [HO] like '%[^A-Z NULL ]%'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [ck_Chu_Blank_Only]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [ck_Ten_Chu_Blank_Only] CHECK  ((NOT [TEN] like '%[^A-Z NULL ]%'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [ck_Ten_Chu_Blank_Only]
GO
/****** Object:  StoredProcedure [dbo].[SP_BAOCAO_BAITHI]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BAOCAO_BAITHI] (@MABT AS INT)
AS
  SELECT ROW_NUMBER() OVER (ORDER BY CAUSO ASC) AS STT, 
         CAUSO,NOIDUNG,
		 'A. '+CAST(A AS nvarchar(max))+CHAR(13)+CHAR(10)+
		 'B. '+CAST(B AS nvarchar(max))+CHAR(13)+CHAR(10)+
		 'C. '+CAST(C AS nvarchar(max))+CHAR(13)+CHAR(10)+
		 'D. '+CAST(D AS nvarchar(max)) AS CACCHONLUA,
		 DAPAN,DACHON
  FROM BAITHI
  WHERE MABT = @MABT
GO
/****** Object:  StoredProcedure [dbo].[SP_BAOCAO_BANGDIEMKT]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_BAOCAO_BANGDIEMKT](@MALOP AS NCHAR(8),
                                 @MAMH AS NCHAR(5),
								 @LAN AS SMALLINT)
AS
SELECT DSSV.MASV, HOTEN AS HOTEN, DIEM
FROM BANGDIEM, (SELECT MASV, HO+' '+TEN AS HOTEN 
                FROM SINHVIEN WHERE MALOP = @MALOP) AS DSSV
WHERE MAMH = @MAMH
AND LAN = @LAN
AND DSSV.MASV = BANGDIEM.MASV
GO
/****** Object:  StoredProcedure [dbo].[SP_BAOCAO_DSKYTHI]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_BAOCAO_DSKYTHI] (@TUNGAY AS DATETIME,
                               @DENNGAY AS DATETIME)
AS
  SELECT ROW_NUMBER() OVER (ORDER BY NGAYTHI ASC) AS STT, TENLOP,TENMH,LAN,HO+' '+TEN AS GVDANGKY,SOCAUTHI,NGAYTHI
  FROM GIAOVIEN_DANGKY AS GVDK WITH (INDEX=IX_NGAYTHI), GIAOVIEN
       , (SELECT MAMH,TENMH FROM MONHOC) AS MH
	   , (SELECT MALOP,TENLOP FROM LOP) AS LOP
  WHERE CAST(NGAYTHI AS DATE) >= @TUNGAY 
  AND CAST(NGAYTHI AS DATE) <= @DENNGAY
  AND GIAOVIEN.MAGV = GVDK.MAGV
  AND GVDK.MAMH = MH.MAMH
  AND GVDK.MALOP = LOP.MALOP
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY_KYTHI]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DANGKY_KYTHI](@MAGV NCHAR(8),
                            @MAMH NCHAR(5),
							@MALOP NCHAR(8),
							@TRINHDO NCHAR(1),
							@NGAYTHI DATETIME,
							@LAN SMALLINT,
							@SOCAUTHI SMALLINT,
							@THOIGIAN SMALLINT)
AS
  DECLARE @ERROR NVARCHAR(150)

  IF NOT EXISTS(SELECT * FROM GIAOVIEN_DANGKY 
                WHERE MALOP = @MALOP AND MAMH = @MAMH 
				AND LAN = @LAN)
     BEGIN                                          
        INSERT INTO GIAOVIEN_DANGKY 
        VALUES (@MAGV, @MAMH, @MALOP, @TRINHDO, @NGAYTHI, @LAN, @SOCAUTHI, @THOIGIAN,NEWID())
	 END
  ELSE 
     BEGIN
	  SET @ERROR = (SELECT HO+' '+TEN FROM GIAOVIEN 
	                WHERE MAGV IN (SELECT MAGV FROM GIAOVIEN_DANGKY
					               WHERE MAMH =@MAMH AND MALOP = @MALOP AND LAN = @LAN))
	  SET @ERROR = N'Kỳ thi môn '+@MAMH+N' lần thứ '+CONVERT(NVARCHAR(2),@LAN)+N' của lớp '+@MALOP+N' đã được đăng ký bởi GV: '+@ERROR
	  RAISERROR(@ERROR,16,1) 
	 END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GHIBODE]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GHIBODE] 
  @BODE_SOURCE BODE_TYPE READONLY
AS
  SELECT * INTO #TBLTEMP FROM (SELECT ROW_NUMBER() OVER(ORDER BY CAUHOI) AS ROWNUM,* FROM @BODE_SOURCE) AS TBL

  UPDATE #TBLTEMP SET CAUHOI = (SELECT MAX(CAUHOI)FROM BODE)+ROWNUM WHERE CAUHOI =0

  ALTER TABLE #TBLTEMP DROP COLUMN ROWNUM;

  MERGE INTO dbo.BODE AS Target
  USING (SELECT CAUHOI,MAMH,TRINHDO,NOIDUNG,A,B,C,D,DAP_AN,MAGV FROM #TBLTEMP) AS SOURCE
  ON (TARGET.CAUHOI=SOURCE.CAUHOI AND TARGET.MAGV=SOURCE.MAGV)
  WHEN MATCHED
    THEN UPDATE SET TARGET.MAMH = SOURCE.MAMH,TARGET.TRINHDO = SOURCE.TRINHDO 
                   ,TARGET.NOIDUNG = SOURCE.NOIDUNG, TARGET.A = SOURCE.A
				   ,TARGET.B = SOURCE.B ,TARGET.C = SOURCE.C
				   ,TARGET.D =SOURCE.D,TARGET.DAP_AN = SOURCE.DAP_AN
  WHEN NOT MATCHED BY TARGET
    THEN INSERT(CAUHOI,MAMH,TRINHDO,NOIDUNG,A,B,C,D,DAP_AN,MAGV)
	     VALUES(SOURCE.CAUHOI,SOURCE.MAMH,SOURCE.TRINHDO,SOURCE.NOIDUNG,SOURCE.A,SOURCE.B,SOURCE.C,SOURCE.D,SOURCE.DAP_AN,SOURCE.MAGV)
  WHEN NOT MATCHED BY SOURCE AND TARGET.MAGV IN (SELECT MAGV FROM #TBLTEMP)
    THEN DELETE;
  DROP TABLE #TBLTEMP
  
GO
/****** Object:  StoredProcedure [dbo].[SP_GHIDSLOP]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GHIDSLOP] 
  @LOP_SOURCE LOP_TYPE READONLY
AS
  MERGE INTO dbo.LOP AS Target
  USING (SELECT MALOP,TENLOP,MAKH FROM @LOP_SOURCE) AS SOURCE
  ON (TARGET.MALOP=SOURCE.MALOP)
  WHEN MATCHED
    THEN UPDATE SET TARGET.TENLOP = SOURCE.TENLOP,TARGET.MAKH = SOURCE.MAKH 
  WHEN NOT MATCHED BY TARGET
    THEN INSERT(MALOP,TENLOP,MAKH)
	     VALUES(SOURCE.MALOP,SOURCE.TENLOP,SOURCE.MAKH);
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_DOIMONCAUHOI]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_KT_DOIMONCAUHOI](@MAMH AS nchar(5))
AS
SELECT * 
FROM GIAOVIEN_DANGKY AS KT
WHERE DATEDIFF(minute,KT.NGAYTHI,GETDATE())<KT.THOIGIAN
AND MAMH = @MAMH
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_GIAOVIEN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_GIAOVIEN]
AS
  SELECT MAGV,HO,TEN,HOCVI,GIAOVIEN.MAKH, COSO.MACS, TENCS
  FROM GIAOVIEN, KHOA, COSO 
  WHERE GIAOVIEN.MAKH IN (SELECT MAKH FROM KHOA)
  AND GIAOVIEN.MAKH = KHOA.MAKH
  AND KHOA.MACS = COSO.MACS
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_GIAOVIENDANGKY]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_GIAOVIENDANGKY]
AS
  SELECT MH.MAMH,TENMH,MALOP,LAN,GVDK.MAGV,HO+' '+TEN AS HOTEN,TRINHDO, NGAYTHI,SOCAUTHI,THOIGIAN
  FROM GIAOVIEN_DANGKY AS GVDK WITH (INDEX=IX_NGAYTHI), GIAOVIEN, (SELECT MAMH,TENMH FROM MONHOC) AS MH
  WHERE GIAOVIEN.MAGV = GVDK.MAGV
  AND GVDK.MAMH = MH.MAMH
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_KYTHI_SV]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_KYTHI_SV](@MASV AS NCHAR(8))
AS
BEGIN
   DECLARE @MALOP AS NCHAR(8)
   SET @MALOP = (SELECT MALOP FROM SINHVIEN WHERE MASV = @MASV);

   SELECT KYTHI.MAMH,TENMH,KYTHI.MALOP,KYTHI.LAN,TRINHDO, KYTHI.NGAYTHI,SOCAUTHI,THOIGIAN
   FROM GIAOVIEN_DANGKY AS KYTHI WITH (INDEX= IX_NGAYTHI),
        (SELECT MAMH,TENMH FROM MONHOC) AS MH 
   WHERE KYTHI.MALOP = @MALOP
   AND DATEDIFF(minute,KYTHI.NGAYTHI,GETDATE())<=THOIGIAN 
   AND KYTHI.MAMH = MH.MAMH
   AND NOT EXISTS (SELECT * FROM BANGDIEM 
                   WHERE MASV = @MASV
				   AND KYTHI.LAN = BANGDIEM.LAN 
				   AND KYTHI.MAMH = BANGDIEM.MAMH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TT_DANGNHAP_GV]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_TT_DANGNHAP_GV]
@TENLOGIN NVARCHAR(50)
AS
  DECLARE @TENUSER NVARCHAR(50),
		  @NHOMQUYEN NVARCHAR(50)

  SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)

  SELECT @NHOMQUYEN = NAME
          FROM SYS.sysusers
          WHERE UID =(SELECT groupuid 
                      FROM SYS.SYSMEMBERS 
                      WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                        WHERE NAME= @TENUSER))
  
  SELECT MAGV,NHOMQUYEN = @NHOMQUYEN,HO,TEN,HOCVI,MAKH
  FROM GIAOVIEN
  WHERE MAGV = @TENUSER
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TT_DANGNHAP_SV]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_TT_DANGNHAP_SV](@MASV NCHAR(8),
                                  @MATKHAU NVARCHAR(40))
AS
BEGIN
     IF EXISTS(SELECT MASV FROM SINHVIEN WHERE MASV=@MASV AND MATKHAU = @MATKHAU)
	 BEGIN
	     SELECT MASV,HO,TEN,NGAYSINH,DIACHI,LOP.MALOP,TENLOP,KHOA.MAKH,TENKH,MATKHAU 
		 FROM SINHVIEN,LOP,KHOA WHERE MASV=@MASV AND MATKHAU = @MATKHAU
		 AND SINHVIEN.MALOP = LOP.MALOP
		 AND LOP.MAKH = KHOA.MAKH
	 END
	 ELSE
	 BEGIN
	     RAISERROR(N'Sai thông tin đăng nhập',16,1);
	 END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYBANGDIEM_SV]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYBANGDIEM_SV](@MASV AS NCHAR(8))
AS
  SELECT MASV,BD.MAMH,TENMH,LAN,NGAYTHI,DIEM,MABT 
  FROM (SELECT * FROM BANGDIEM WITH (INDEX = IX_NGAYTHI)
        WHERE MASV = @MASV) AS BD, MONHOC
  WHERE BD.MAMH=MONHOC.MAMH
  
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYBODE_COSO]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYBODE_COSO]
AS
  SELECT * FROM BODE
  WHERE MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN(SELECT MAKH FROM KHOA))
  ORDER BY CAUHOI
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYBODE_GV]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAYBODE_GV]
@MAGV CHAR(8)
AS
BEGIN
	SELECT * FROM BODE WHERE MAGV = @MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYDETHI]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAYDETHI] (@MAMH NVARCHAR(40),
                        @TRINHDO NCHAR(1),
						@SOCAU INT)
AS
  DECLARE @TRINHDOTHAP NCHAR(1)
  DECLARE @TRINHDOCAO NCHAR(1)
  DECLARE @CANTHEM INT
  DECLARE @ISLINK BIT
  DECLARE @ERROR NVARCHAR(300)
  DECLARE @THIEU INT
  DECLARE @CANTHEMTHAP INT

  SET @ISLINK = 0
  SET @TRINHDOCAO = @TRINHDO

  SELECT * INTO #DS_CAUHOICAO_CS1 FROM BODE
  WHERE MAMH = @MAMH 
  AND TRINHDO = @TRINHDOCAO
  AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))

  SELECT TOP(0)* INTO #DETHI FROM #DS_CAUHOICAO_CS1
  SELECT TOP(0)* INTO #DS_CAUHOICAO_CS2 FROM #DS_CAUHOICAO_CS1

  IF (@TRINHDOCAO = 'A') BEGIN SET @TRINHDOTHAP = 'B' END
  IF (@TRINHDOCAO = 'B') BEGIN SET @TRINHDOTHAP = 'C' END

  --Trường hợp trình độ C
  IF(@TRINHDOCAO ='C')
  BEGIN
	   --Trường hợp không đủ câu trình độ C tại cơ sở
	   IF(@SOCAU > (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS1))
	   BEGIN
		    INSERT INTO #DETHI SELECT * FROM #DS_CAUHOICAO_CS1;
		    SET @CANTHEM = @SOCAU - (SELECT COUNT(*) FROM #DETHI) 

			--Lấy câu hỏi C tại cơ sở ngoài 
			INSERT INTO #DS_CAUHOICAO_CS2 SELECT * FROM BODE
            WHERE MAMH = @MAMH 
            AND TRINHDO = @TRINHDOCAO
            AND MAGV NOT IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA));

			--Trường hợp cũng không đủ @CANTHEM câu trình độ C cơ sở ngoài thì báo lỗi thiếu 
	        IF(@CANTHEM > (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS2))
	        BEGIN
			      SET @THIEU = @CANTHEM - (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS2);
				  SET @ERROR = N'Thiếu '+CAST(@THIEU AS nvarchar)+N' câu hỏi trình độ C'
				  raiserror(@ERROR,16,1)
				  RETURN
			END
			--Trường hợp đủ @CANTHEM câu trình độ C cơ sở ngoài thì tạo đề thi
			ELSE IF(@CANTHEM <= (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS2))
	        BEGIN
			      INSERT INTO #DETHI SELECT TOP(@CANTHEM)* FROM #DS_CAUHOICAO_CS2 ORDER BY NEWID();
				  
				  SELECT * FROM #DETHI
				  RETURN
			END
       END
	   --Trường hợp đủ hoặc thừa câu trình độ C tại cơ sở
	   ELSE IF(@SOCAU <= (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS1))
	   BEGIN
	        INSERT INTO #DETHI SELECT TOP(@SOCAU)* FROM #DS_CAUHOICAO_CS1 ORDER BY NEWID(); 
		    
			SELECT * FROM #DETHI
			RETURN
	   END
  END
  --Trường hợp trình độ A||B
  ELSE
  BEGIN
       SELECT * INTO #DS_CAUHOITHAP_CS1 FROM BODE
       WHERE MAMH = @MAMH 
       AND TRINHDO = @TRINHDOTHAP
       AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))

	   --Lấy câu hỏi cao tại cơ sở ngoài 
	   INSERT INTO #DS_CAUHOICAO_CS2 SELECT * FROM BODE
       WHERE MAMH = @MAMH 
       AND TRINHDO = @TRINHDOCAO
       AND MAGV NOT IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA));

	   SELECT * INTO #DS_CAUHOITHAP_CS2 FROM BODE
       WHERE MAMH = @MAMH 
       AND TRINHDO = @TRINHDOTHAP
       AND MAGV NOT IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))
       
	   --Trường hợp thừa >100% câu trình độ cao tại cơ sở
	   IF(@SOCAU <= (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS1))
	   BEGIN
	        INSERT INTO #DETHI SELECT TOP(@SOCAU)* FROM #DS_CAUHOICAO_CS1 ORDER BY NEWID();

			SELECT * FROM #DETHI
			RETURN
	   END
       --Trường hợp đủ >=70% câu trình độ cao tại cơ sở chính
       ELSE IF(@SOCAU*0.7 <= (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS1))
	   BEGIN
	        INSERT INTO #DETHI SELECT * FROM #DS_CAUHOICAO_CS1;
			SET @CANTHEM = @SOCAU - (SELECT COUNT(*) FROM #DETHI)

			--Trường hợp không đủ câu trình độ thấp tại cơ sở chính
            IF(@CANTHEM>(SELECT COUNT(*) FROM #DS_CAUHOITHAP_CS1))
			BEGIN
			     INSERT INTO #DETHI SELECT * FROM #DS_CAUHOITHAP_CS1;
			     SET @CANTHEM = @SOCAU - (SELECT COUNT(*) FROM #DETHI)
			     --Trường hợp không đủ số câu trình độ cao tại cơ sở ngoài
				 IF(@CANTHEM > (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS2))
				 BEGIN
					  INSERT INTO #DETHI SELECT * FROM #DS_CAUHOICAO_CS2;

					  SET @CANTHEM = @SOCAU - (SELECT COUNT(*) FROM #DETHI)
					  --Trường hợp không đủ số câu trình độ thấp tại cơ sở ngoài
					  IF(@CANTHEM > (SELECT COUNT(*) FROM #DS_CAUHOITHAP_CS2))
					  BEGIN
						   SET @THIEU = @SOCAU - (SELECT COUNT(*) FROM BODE WHERE MAMH = @MAMH 
								                  AND (TRINHDO = @TRINHDO OR TRINHDO = @TRINHDOTHAP));
				           SET @ERROR = N'Thiếu '+CAST(@THIEU AS nvarchar)+N' câu hỏi trình độ '+@TRINHDOCAO +N' hoặc ' +@TRINHDOTHAP
				           raiserror(@ERROR,16,1)
				           RETURN
					  END
					  --Trường hợp đủ số câu trình độ thấp tại cơ sở ngoài
					  ELSE 
				      BEGIN
			               INSERT INTO #DETHI SELECT TOP(@CANTHEM)* FROM #DS_CAUHOITHAP_CS2 ORDER BY NEWID();
						        
		      		       SELECT * FROM #DETHI
						   RETURN
					  END
				 END
                 --Trường hợp đủ số câu trình độ cao tại cơ sở ngoài
			     ELSE 
			     BEGIN
					  INSERT INTO #DETHI SELECT TOP(@CANTHEM)* FROM #DS_CAUHOICAO_CS2 ORDER BY NEWID();

					  SELECT * FROM #DETHI
				      RETURN
				 END
			END
			ELSE
			BEGIN
			     INSERT INTO #DETHI SELECT TOP(@CANTHEM)* FROM #DS_CAUHOITHAP_CS1 ORDER BY NEWID();
				 
				 SELECT * FROM #DETHI
			     RETURN
			END
	   END
       --Trường hợp không đủ 70% câu trình độ cao tại cơ sở
	   ELSE IF(@SOCAU*0.7 > (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS1))
	   BEGIN
	        INSERT INTO #DETHI SELECT * FROM #DS_CAUHOICAO_CS1;  

		    SET @CANTHEM = (@SOCAU*0.7)-(SELECT COUNT(*) FROM #DS_CAUHOICAO_CS1)
			--Trường hợp cũng không đủ 70% câu hỏi cao khi lấy ở cơ sở ngoài, thì báo lỗi thiếu  
		    IF(@CANTHEM > (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS2))
	        BEGIN
			     SET @THIEU = @SOCAU - (SELECT COUNT(*) FROM BODE WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO);
				 SET @ERROR = N'Không đủ câu hỏi đúng trình độ. Thiếu '+CAST(@THIEU AS nvarchar)+N' câu hỏi trình độ '+@TRINHDOCAO
				 raiserror(@ERROR,16,1)
				 return
			END
		    --Trường hợp đủ hoặc thừa 70% câu hỏi cao khi lấy ở cơ sở ngoài
		    ELSE IF(@CANTHEM <= (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS2))
			BEGIN
			     --Trường hợp đủ hoặc thừa 30% câu trình độ thấp tại cơ sở chính
			     IF(@SOCAU*0.3 <= (SELECT COUNT(*) FROM #DS_CAUHOITHAP_CS1))
	             BEGIN
				      INSERT INTO #DETHI SELECT TOP(@CANTHEM)* FROM #DS_CAUHOICAO_CS2 ORDER BY NEWID(); 
			          INSERT INTO #DETHI SELECT TOP(@SOCAU-(SELECT COUNT(*) FROM #DETHI))* FROM #DS_CAUHOITHAP_CS1 ORDER BY NEWID();
					  
					  SELECT * FROM #DETHI
					  RETURN
			     END
				 --Trường hợp không đủ 30% câu trình độ thấp tại cơ sở chính
				 ELSE IF(@SOCAU*0.3 > (SELECT COUNT(*) FROM #DS_CAUHOITHAP_CS1))
	             BEGIN
				      INSERT INTO #DETHI SELECT * FROM #DS_CAUHOITHAP_CS1;
					  SET @CANTHEM = @SOCAU - (SELECT COUNT(*) FROM #DETHI)
					  --Trường hợp không đủ số câu trình độ cao tại cơ sở ngoài
					  IF(@CANTHEM > (SELECT COUNT(*) FROM #DS_CAUHOICAO_CS2))
					  BEGIN
					       INSERT INTO #DETHI SELECT * FROM #DS_CAUHOICAO_CS2;
					 
						   SET @CANTHEM = @SOCAU - (SELECT COUNT(*) FROM #DETHI)
					       --Trường hợp không đủ số câu trình độ thấp tại cơ sở ngoài
						   IF(@CANTHEM > (SELECT COUNT(*) FROM #DS_CAUHOITHAP_CS2))
					       BEGIN
								SET @THIEU = @SOCAU - (SELECT COUNT(*) FROM BODE WHERE MAMH = @MAMH 
								                       AND (TRINHDO = @TRINHDO OR TRINHDO = @TRINHDOTHAP));
				                SET @ERROR = N'Thiếu '+CAST(@THIEU AS nvarchar)+N' câu hỏi trình độ '+@TRINHDOCAO +N' hoặc ' +@TRINHDOTHAP
				                raiserror(@ERROR,16,1)
				                RETURN
					       END
						   --Trường hợp đủ số câu trình độ thấp tại cơ sở ngoài
						   ELSE 
					       BEGIN
					            INSERT INTO #DETHI SELECT TOP(@CANTHEM)* FROM #DS_CAUHOITHAP_CS2 ORDER BY NEWID();
						        
								SELECT * FROM #DETHI
								RETURN
					       END
				      END
                      --Trường hợp đủ số câu trình độ cao tại cơ sở ngoài
					  ELSE 
					  BEGIN
					       INSERT INTO #DETHI SELECT TOP(@CANTHEM)* FROM #DS_CAUHOICAO_CS2 ORDER BY NEWID();

						   SELECT * FROM #DETHI
						   RETURN
					  END
			     END
			END
	   END
  END		    


  
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYDSKYTHI_SAPTOI]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAYDSKYTHI_SAPTOI](@MALOP AS NCHAR(8))
AS
SELECT KYTHI.MAMH,TENMH,KYTHI.MALOP,KYTHI.LAN,TRINHDO, KYTHI.NGAYTHI,SOCAUTHI,THOIGIAN
FROM GIAOVIEN_DANGKY AS KYTHI WITH (INDEX= IX_NGAYTHI),
     (SELECT MAMH,TENMH FROM MONHOC) AS MH 
WHERE KYTHI.MALOP = @MALOP
AND DATEDIFF(minute,KYTHI.NGAYTHI,GETDATE())<0
AND KYTHI.MAMH = MH.MAMH
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYDSLOPTHEOKHOA]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYDSLOPTHEOKHOA](@MAKH AS NCHAR(8))
AS
  SELECT * FROM LOP WHERE MAKH = @MAKH
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYSINHVIEN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_LAYSINHVIEN]
@MALOP char(8)
as
begin
	SELECT MASV,HO,TEN,NGAYSINH,DIACHI,MALOP,MATKHAU
	FROM SINHVIEN WHERE MALOP = @MALOP
end
GO
/****** Object:  StoredProcedure [dbo].[SP_NOPBAI]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NOPBAI] (@MASV AS NCHAR(8),
                       @MAMH AS NCHAR(5),
					   @LAN AS SMALLINT,
					   @NGAYTHI AS DATETIME,
					   @DIEM AS FLOAT
					   ,@BAITHI_SOURCE BAITHI_TYPE READONLY
					  )
AS 
 SET XACT_ABORT ON
 BEGIN TRANSACTION 
 BEGIN TRY
     DECLARE @MABT AS INT;
	 INSERT INTO BANGDIEM(MASV,MAMH,LAN,NGAYTHI,DIEM) 
	   VALUES(@MASV,@MAMH,@LAN,@NGAYTHI,@DIEM);
     SET @MABT = (SELECT SCOPE_IDENTITY())
	 
	 INSERT INTO BAITHI(CAUSO,NOIDUNG,A,B,C,D,DAPAN,DACHON,MABT)
	   SELECT *,@MABT AS MABT FROM @BAITHI_SOURCE;
     SELECT @MABT AS MABT
     COMMIT
 END TRY
 BEGIN CATCH
      ROLLBACK
	  RAISERROR('Lỗi khi nộp bài',16,1)
 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_KYTHI]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SUA_KYTHI] (@MAMH AS nchar(5),
                          @MALOP AS NCHAR(8),
						  @LAN AS SMALLINT,
						  @TRINHDO AS NCHAR(1),
						  @NGAYTHI AS DATETIME,
						  @SOCAUTHI AS SMALLINT,
						  @THOIGIAN AS SMALLINT)
AS
  UPDATE GIAOVIEN_DANGKY SET TRINHDO = @TRINHDO, NGAYTHI=@NGAYTHI,SOCAUTHI=@SOCAUTHI,THOIGIAN=@THOIGIAN
  WHERE MAMH = @MAMH AND MALOP = @MALOP AND LAN = @LAN
GO
/****** Object:  StoredProcedure [dbo].[SP_SUABODE]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_SUABODE]
@MAMH char(5),
@TRINHDO CHAR(1),
@NOIDUNG NTEXT,
@A NTEXT,
@B NTEXT,
@C NTEXT,
@D NTEXT,
@DAP_AN CHAR(1),
@CAUHOI INT
AS
BEGIN
  UPDATE BODE SET  MAMH=@MAMH,TRINHDO=@TRINHDO,NOIDUNG=@NOIDUNG,A=@A,B=@B,C=@C,D=@D,DAP_AN=@DAP_AN WHERE CAUHOI =@CAUHOI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUAGV]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SUAGV](
    @MAGV AS nchar(8),
	@HO AS nvarchar(40),
	@TEN AS nvarchar(10),
	@HOCVI nvarchar(40)
)
AS
  UPDATE GIAOVIEN SET HO= @HO,TEN= @TEN,HOCVI= @HOCVI
  WHERE MAGV = @MAGV
GO
/****** Object:  StoredProcedure [dbo].[SP_SUAKHOA]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SUAKHOA](@MAKHOA char(8)
						,@TENKHOA nvarchar(50)
						,@MACS char(3))
as
if exists (select MAKH from KHOA)
begin
	update KHOA set TENKH =@TENKHOA where MAKH =@MAKHOA
end
else
BEGIN
	raiserror(N'Khoa không tồn tại',16,1)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SUALOP]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SUALOP](@MALOP char(8)
						,@TENLOP nvarchar(40)
						,@MAKH char(8))
as
if exists (select MAKH from KHOA where MAKH = @MAKH)
begin
	update LOP set tenlop =@TENLOP, makh=@MAKH where malop =@MALOP
end
else 
raiserror (N'không có khoa này',16,1) 
GO
/****** Object:  StoredProcedure [dbo].[SP_SUAMONHOC]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_SUAMONHOC]
@MAMH char(5),
@TENMH nvarchar(40)

AS
BEGIN
  UPDATE MONHOC SET TENMH=@TENMH where MAMH=@MAMH  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUASINHVIEN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_SUASINHVIEN]
@HO NVARCHAR(40),
@TEN NVARCHAR(10),
@NGAYSINH DATETIME,
@DIACHI NVARCHAR(40),
@MALOP NCHAR(8),
@MATKHAU NVARCHAR(40),
@MASV NCHAR(8)
AS
BEGIN
	UPDATE SINHVIEN SET HO=@HO, TEN=@TEN, NGAYSINH=@NGAYSINH, DIACHI=@DIACHI,MALOP=@MALOP,MATKHAU=@MATKHAU WHERE MASV = @MASV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TAOTAIKHOAN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOTAIKHOAN]
	@LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
 DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'TN_CSDLPT'                     

  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1

  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG

  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END

  EXEC sp_addrolemember @ROLE, @USERNAME

  IF @ROLE= 'TRUONG'  OR @ROLE ='COSO'
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END

  ELSE IF @ROLE= 'GIANGVIEN'
	BEGIN  
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END

	RETURN 0  -- THANH CONG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMBODE]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_THEMBODE]
@MAMH char(5),
@TRINHDO CHAR(1),
@NOIDUNG NTEXT,
@A NTEXT,
@B NTEXT,
@C NTEXT,
@D NTEXT,
@DAP_AN CHAR(1),
@MAGV CHAR(8)
AS
BEGIN
    DECLARE @COUNT AS INT
    SELECT @COUNT = (select TOP (1) [cauhoi] from bode order by cauhoi desc) + 1
	IF EXISTS (SELECT NOIDUNG FROM BODE WHERE NOIDUNG LIKE @NOIDUNG)
		BEGIN
			RAISERROR(N'Đã có câu hỏi này trong bộ đề !
			Vui lòng xem lại.',16,1)
		END
	ELSE
		BEGIN
        INSERT INTO dbo.BODE(CAUHOI,MAMH,TRINHDO,NOIDUNG,A,B,C,D,DAP_AN,MAGV)
        VALUES (@COUNT,@MAMH,@TRINHDO,@NOIDUNG,@A,@B,@C,@D,@DAP_AN,@MAGV)
	 END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMGIAOVIEN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEMGIAOVIEN](
    @MAGV NCHAR(8),
    @HO NVARCHAR(40),
	@TEN NVARCHAR(10),
	@HOCVI NVARCHAR(40),
	@MAKH NCHAR(8))
AS
  IF NOT EXISTS(SELECT MAGV FROM GIAOVIEN WHERE MAGV = @MAGV)
  BEGIN
     INSERT INTO GIAOVIEN(MAGV,HO,TEN,HOCVI,MAKH)
	 VALUES (@MAGV,@HO,@TEN,@HOCVI,@MAKH);
  END
  ELSE
  BEGIN
     RAISERROR(N'Mã giáo viên đã tồn tại',16,1);
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMKHOA]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEMKHOA](@MAKH char(8)
						,@TENKH nvarchar(50)
						,@MACS char(3))
as
    if not exists (select MaKH from LINK0.TN_CSDLPT.dbo.KHOA where MAKH =@MAKH)
		begin
			insert into dbo.KHOA(MAKH,TENKH,MACS)
			values (@MAKH, @TENKH, @MACS)
		end
	else
		begin
			raiserror(N'khoa này đã tồn tại',16,1) 
		end
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMLOP]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEMLOP](@MALOP char(8)
						,@TENLOP nvarchar(40)
						,@MAKH char(8))
as
  declare @ERROR AS nvarchar(150)
  IF EXISTS (SELECT MALOP from LOP where MALOP =@MALOP)
    BEGIN
        set @ERROR = N'Lớp '+@MALOP+N' đã tồn tại'
        raiserror(@ERROR,16,1)
    END
  ELSE IF EXISTS (SELECT MALOP FROM LINK2.TN_CSDLPT.DBO.LOP WHERE MALOP = @MALOP)
    BEGIN
        set @ERROR = N'Lớp '+@MALOP+N' đã tồn tại'
        raiserror(@ERROR,16,1)
	END
  ELSE IF EXISTS (SELECT MALOP FROM LINK1.TN_CSDLPT.DBO.LOP WHERE MALOP = @MALOP)
    BEGIN
        set @ERROR = N'Lớp '+@MALOP+N' đã tồn tại'
        raiserror(@ERROR,16,1)
	END
  ELSE
    BEGIN
	  insert into dbo.LOP(MALOP,TENLOP,MAKH)
	  values (@MALOP, @TENLOP, @MAKH)
    END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMMONHOC]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEMMONHOC] (@MAMH nchar(5)
						,@TENMH nvarchar(40))
as
if not exists (select MAMH from dbo.MONHOC where MAMH = @MAMH)
begin
	insert into dbo.MONHOC(MAMH,TENMH)
	values (@MAMH, @TENMH)
end
else raiserror(N'Môn học đã tồn tại',16,1)

GO
/****** Object:  StoredProcedure [dbo].[SP_THEMSINHVIEN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_THEMSINHVIEN]
@MASV NCHAR(8),
@HO NVARCHAR(40),
@TEN NVARCHAR(10),
@NGAYSINH DATETIME,
@DIACHI NVARCHAR(40),
@MALOP NCHAR(8),
@MATKHAU NVARCHAR(40)

AS 
BEGIN
	IF EXISTS ( SELECT MASV FROM SINHVIEN WHERE MASV =  @MASV)
		BEGIN
			raiserror(N'Sinh viên đã tồn tại',16,1)
		END
    ELSE IF EXISTS (SELECT MASV FROM LINK2.TN_CSDLPT.DBO.SINHVIEN WHERE MASV = @MASV)
		BEGIN
			raiserror(N'Sinh viên đã tồn tại',16,1)
		END
	ELSE IF EXISTS (SELECT MASV FROM LINK1.TN_CSDLPT.DBO.SINHVIEN WHERE MASV = @MASV)
		BEGIN
			raiserror(N'Sinh viên đã tồn tại',16,1)
		END
	ELSE
		BEGIN
		INSERT INTO SINHVIEN(MASV,HO,TEN,NGAYSINH,DIACHI,MALOP,MATKHAU)
		VALUES (@MASV,@HO,@TEN,@NGAYSINH,@DIACHI,@MALOP,@MATKHAU);
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TT_LOGIN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TT_LOGIN](@TENUSER AS NCHAR(8))
AS
  DECLARE @TENLOGIN AS NVARCHAR(50)
  DECLARE @ROLE AS NVARCHAR(50)
  
  SET @TENLOGIN =(SELECT SV.name from sys.server_principals as SV, sys.sysusers AS MB
                   where SV.sid = MB.SID
                   AND MB.name = @TENUSER);

  SET @ROLE =
  (SELECT NAME FROM sys.sysusers
  WHERE UID = (SELECT groupuid 
                FROM SYS.SYSMEMBERS 
                WHERE MEMBERUID = (SELECT UID FROM sys.sysusers 
                                  WHERE NAME = @TENUSER)));
   SELECT @TENLOGIN AS TENLOGIN, @ROLE AS QUYEN
GO
/****** Object:  StoredProcedure [dbo].[SP_XOABODE]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_XOABODE]
@CAUHOI INT
AS
BEGIN
	DELETE FROM BODE WHERE CAUHOI = @CAUHOI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOAGV]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOAGV] (@MAGV AS NCHAR(8))
AS
  DECLARE @ERROR AS NVARCHAR(150)
  IF EXISTS(SELECT MAGV FROM GIAOVIEN WHERE MAGV = @MAGV)
  BEGIN
    IF(EXISTS (SELECT MAGV FROM BODE WHERE MAGV = @MAGV))
	BEGIN
	   SET @ERROR = N'Giáo viên mã '+@MAGV+N' có bộ đề, không thể xóa';
	   RAISERROR(@ERROR,16,1);
	   RETURN
	END

	IF(EXISTS (SELECT MAGV FROM GIAOVIEN_DANGKY WHERE MAGV = @MAGV))
	BEGIN
	   SET @ERROR = N'Giáo viên mã '+@MAGV+N' có đăng ký kỳ thi, không thể xóa';
	   RAISERROR(@ERROR,16,1)
	   RETURN
	END

	DELETE FROM GIAOVIEN WHERE MAGV = @MAGV;
    IF(EXISTS(SELECT SV.name from sys.server_principals as SV, sys.sysusers AS MB
                   where SV.sid = MB.SID
                   AND MB.name = @MAGV))
    BEGIN
        DECLARE @TENLOGIN AS NVARCHAR(50)
        SET @TENLOGIN =(SELECT SV.name from sys.server_principals as SV, sys.sysusers AS MB
                   where SV.sid = MB.SID
                   AND MB.name = @MAGV);
        EXEC sp_dropuser @MAGV
        EXEC sp_droplogin @TENLOGIN
    END
  END
  ELSE
  BEGIN
     SET @ERROR = N'Giáo viên mã '+@MAGV+N' không tồn tại hoặc đã bị xóa trước';
	 RAISERROR(@ERROR,16,1)
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOAKHOA]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_XOAKHOA]
@MAKH char(8)
as
if not exists (select MAKH from dbo.GIAOVIEN where MAKH = @MAKH)
	begin
		if not exists (select MAKH from dbo.LOP where MAKH = @MAKH)
		begin
			delete from dbo.KHOA
			where MAKH = @MAKH
		end
		else
		begin
			raiserror (N'không thể xóa, khoa này đang có lớp',16,1)
		end
	end

else
	begin
		raiserror (N'không thể xóa, khoa này đang có giáo viên',16,1)
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_XOALOP]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XOALOP]
@MALOP char(8)
as
if not exists (select MALOP from dbo.SINHVIEN where MALOP = @MALOP)
	begin
		if not exists (select MALOP from dbo.GIAOVIEN_DANGKY where MALOP = @MALOP)
		begin
			delete from dbo.LOP
			where MALOP = @MALOP
		end
		else
		begin
			raiserror (N'không thể xóa, lớp này có giáo viên đăng ký thi',16,1)
		end
	end

else
	begin
		raiserror (N'không thể xóa, lớp này đang có sinh viên học',16,1)
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_XOAMONHOC]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SP_XOAMONHOC] 
@MAMH char(5)	
as
if not exists (select MAMH from dbo.GIAOVIEN_DANGKY where MAMH = @MAMH)
begin
	if not exists (select MAMH from dbo.BODE where MAMH = @MAMH)
	begin
		if not exists (select MAMH from dbo.BANGDIEM where MAMH = @MAMH)
		begin
			delete from dbo.MONHOC
			where MAMH = @MAMH
		end
		else
		begin
			raiserror (N'môn học này đang có trong bảng điểm',16,1)
		end
	end

	else
		begin
			raiserror (N'môn học này đang có trong bộ đề',16,1)
		end
	end
else
begin
	raiserror (N'môn học này đang có trong danh sách giáo viên đăng ký',16,1)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_XOASINHVIEN]    Script Date: 5/11/2022 4:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_XOASINHVIEN]
@MASV NCHAR (8)
AS
BEGIN
	IF EXISTS ( SELECT MASV FROM BANGDIEM WHERE MASV = @MASV)
		BEGIN	
			RAISERROR(N'SINH VIÊN ĐÃ CÓ ĐIỂM THI KHÔNG THỂ XÓA',16,1);
		END
	ELSE
		BEGIN
		DELETE FROM SINHVIEN WHERE MASV = @MASV
		END
END
GO
USE [master]
GO
